.organizer-list-container {
    padding: 10px 150px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.organizerBlock-container {
    display: flex;
    flex-wrap: wrap;
}


.organizerBlock-container {
    padding: 24px;
    width: 20%;
    margin: auto;
}

.committee-header {
    text-align: center;
}


@media only screen and (max-width: 850px) {
    .organizer-list-container {
        padding: 10px 10px;
        display: flex;
        flex-wrap: wrap;
    }

    .organizerBlock-container {
        display: flex;
        flex-wrap: wrap;
    }

    .organizer-card {
        width: 1rem;
    }
}