ul.nav {
    padding: 20px;
    background-color: white;
    padding-left: 30px;
}

#nav {
  padding-left: 30px;
}

li a:hover {
  background-color: grey;
}

li a:active {
  background-color: grey;
}

.router-logo {
      height: 50px
}